:root{
	--color-primary: #fd6347;
	--color-primary-dark: #F9380E;
	--color-secondary: #5c6464;
	--color-light: white;
	--color-dark: black;
	--color-dropdowns: lightgray;
	--color-success: #0D6EFD;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: play;
	word-wrap: break-word;
}
a{text-decoration: none}
small{opacity: .8; font-size: 12px}

/******** HEADER ********/
header{
	z-index: 9;
	width: 100%;
}
#header-nav{
	background-color: var(--color-primary);
}
#logo{
	width: 200px;
	height: 75px;
}
.navbar-toggler{
	font-size: 80%;
}
.navbar-toggler:hover{
	border: 1px solid var(--color-secondary);
}
a.nav-link{
	padding: 5px;
	font-size: 18px;
	color: var(--color-light);
	text-align: center;
}
.nav-item>a:hover, .nav-item>a:focus{
	color: var(--color-light);
	font-size: 21px;
}
#dropdown {
  position: relative;
  z-index: 10;
}
#droplink>div{font-size: 24px; padding-top: 3px}
#dropdown-content {
  display: none;
  background-color: var(--color-dropdowns);
  width: 200px;
  border-radius: 4px;
  transition: 100ms ease;
}
#dropdown-content a{
  padding:0px 8px;
  display: block;
  color: var(--color-dark);
}
#dropdown-content a:hover, #dropdown-content a:focus{
	font-weight: bold;
	font-size: 17px;
}
#dropdown-content h5{
  padding: 0px 8px;
  margin: 0;
  color: var(--color-primary);
  font-weight: bold;
}
#dropdown:hover #dropdown-content, #dropdown:focus #dropdown-content {display: block;}
#dropdown-content>div:nth-child(2){margin-top: 16px}
div.d-flex:not(#subscribe>div,#wrapper){
	margin: 0px 12px;
}
input:focus, textarea:focus{
	border-color: var(--color-success);
	outline: none;
}
/******** END HEADER ********/

/************* COMMON *************/
#loader{
	width: 100%;
	height: 100%;
	background-color: var(--color-light);
	position: fixed;
	padding-top: 15%;
	text-align: center;
	z-index: 9;
}
.links::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--color-light);
	transform-origin: bottom right;
	transition: transform 0.15s ease;
}
.links:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
#SearchContent1, #SearchContent2{
	z-index: 10;
	background-color: var(--color-dropdowns);
	right: 0;
	width: 240px;
	max-height: 260px;
	overflow: auto;
}
#SearchContent1 a, #SearchContent2 a{color: var(--color-dark);}
#SearchContent2 a:hover, #SearchContent2 a:focus, #SearchContent1 a:hover, #SearchContent1 a:focus{
	color: var(--color-dark);
	font-size: 17px;
	font-weight: bold;
}
/*#searchbar1{width: 220px}*/
#searchbar2{border-color: #var(--color-success);}
/************* END COMMON *************/

/************* PUBLIC *************/
/******** HOME ********/
#main-content{position: relative;}
#main-view{padding: 0}
@media (min-width: 992px){
	#header-nav{height: 150px}
	#main-view{
		width: 80%;
		padding-right: 32px;
	}
	#sidebar{
		top: 0;
		width: 100%;
		height: 609px;
		position: sticky;
		overflow: auto;
		padding-left: 12px;
	}
	#sidebar::-webkit-scrollbar {
	  width: 5px;
	}
	#sidebar::-webkit-scrollbar-track {
	  background: var(--color-secondary);
	}
	#sidebar::-webkit-scrollbar-thumb {
	  background: var(--color-primary); 
	  border-radius: 5px;
	}
	#sidebar::-webkit-scrollbar-thumb:hover {
	  background: var(--color-primary-dark);
	}
	#sidebar a{
		color: var(--color-light);
		position: relative;
	}
	#sidenav {
		padding: 24px 0px;
		width: 20%;
	  right: 0;
	  background-color: var(--color-secondary);
	  border-left: 1px solid var(--color-dark);
	}
	#sidenav a {
	  display: inline-flex;
	  padding: 1px;
	}
}
/******** HOME ********/

/******** HOME-SNIPPET ********/
#headline{
	color: var(--color-primary);
	font-size: 18px;
}
.tiles{
	padding: 6px;
}
.tiles small{
	padding-left: 6px;
}
.tilesDesign{
	padding: 6px;
}
.tilesDesign:hover, .tilesDesign:focus{
	box-shadow: 1px 1px 1px 1px #fd6347;
}
.inside-tiles{
	position: relative;
	border: 1px solid black;
	height: 350px;
	overflow: hidden;
}
.blogText{
	background-color: var(--color-secondary);
	opacity: .9;
	text-align: justify;
	position: absolute;
	bottom: 0;
	height: 72px;
	color: var(--color-light);
	padding: 0px 8px;
}
/********END HOME-SNIPPET ********/
/************* END PUBLIC *************/

/******** FOOTER ********/
#ToTop{
	border-radius: 50%;
	height: 37px;
	width: 37px;
	border: 1px solid #fff;
	background-color: transparent;
	color: var(--color-light);
	position: fixed;
	right: 3%;
	bottom: 3%;
	font-size: 22px;
	font-weight: bold;
	display: none;
}
#ToTop span{
	position: sticky;
	bottom: 50%;
	margin: auto;
}
#ToTop:hover, #ToTop:focus{background-color: var(--color-success); color: var(--color-dark); border: none}
footer{
	background-color: var(--color-secondary);
	color: var(--color-light);
}
footer section>a{
	display: table;
	color: var(--color-light);
}
footer section>a:hover{
	font-weight: bold;
	font-size: 17px;
	color: var(--color-light);
}
#comment-email, #comment-url{
	padding-top: 1px;
}
#comment-message{
	padding-top: 3px;
}
#name, #email, #url{
	width: 80%;
	border-radius: 5px;
}
#comment{
	border-radius: 5px;
	width: 100%;
	height: 150px;
}
#required{
	display: none;
	color: var(--color-primary);
	font-weight: bold;
}
#social{
	text-align: center;
}
/********END FOOTER ********/

@media (max-width:575px){
	#logo{
		height: 50px;
		width: 140px;
	}
	#dropdown-content{display: none;width: 100%;border-radius: 0px;text-align: center;}
	#dropdown-content>div>a{margin: 0px 15px;display: inline-flex;}
	#SearchContent2{width: calc(100% - 24px); margin-right: 12px}
	.inside-tiles, .inside-tiles>img, #BlogNewsContent>img, .SingleBlog{height: 275px}
	.blogText{height: 26%}
	
	#name, #email, #url{
		width: 100%;
	}
	h2.comment, #subscribe{
		margin-top: 16px;
	}
	#checker, #comment-name{
		font-size: 14px;
		float: left;
		width: 100%;
	}
}


@media (min-width:576px) and (max-width:767px){
	#logo{
		height: 60px;
		width: 165px;
	}
	#dropdown-content{display: none;width: 100%;border-radius: 0px;text-align: center;}
	#dropdown-content>div>a{margin: 0px 15px;display: inline-flex;}
	#SearchContent2{width: calc(100% - 24px); margin-right: 12px}

	.inside-tiles, .inside-tiles>img, #BlogNewsContent>img, .SingleBlog{height: 370px}
	.blogText{height: 20%}

	h2.comment, #subscribe{
		margin-top: 16px;
	}
}


@media (min-width:768px) and (max-width:991px){
	#header-nav{height: 150px}
	#logo{
		height: 60px;
		width: 160px;
	}
	#nav-list{
		font-size: 14px;
	}
	#dropdown-content{
		position: absolute;
	}
	.inside-tiles, .inside-tiles>img, #BlogNewsContent>img{height: 300px}
	.SingleBlog{height: 370px}
	#checker{
		float: left;
		width: 100%;
	}
}


@media (min-width:992px) and (max-width:1279px){
	#logo{
		height: 65px;
		width: 170px;
	}
	#dropdown-content{
		position: absolute;
	}
}


@media (min-width:1280px) and (max-width: 1979px){
	#dropdown-content{
		position: absolute;
	}
}


@media (min-width: 1980px){
	#dropdown-content{
		position: absolute;
	}
	.inside-tiles, .inside-tiles>img, #BlogNewsContent>img{height: 500px}
	.SingleBlog{height: 800px}
}